@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
  background-image: url('../public/bg3.png');
  background-size: cover;
}
.button,.add_button,#submit_button
{
  background-image:linear-gradient(to bottom right, #FA924C,#f9b486);
  border-style:initial;
  display: flex;
  border-radius: 8px;
  text-align: center;
  font-size: large;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-color: #FA924C;
  cursor: pointer
}

.button:active
{
  background-image:linear-gradient(to bottom right,#fb6c0c,#FA924C);
}

.reg_input,.reg_f_input
{
  grid-column: 4;
  border-radius: 4px;
  outline: none;
  background-color: #f9b486;
}

input:focus
{
  border:2.5px solid #353535;
}

.form_div
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.reg_label,.reg_f_label
{
  grid-column: 1;
  font-size: large;
  padding-bottom: 50px;
  text-align: center;
}

#b_login
{
  width: 190px;
  height: 40px;
}

#r_login
{
  width:250px;
}

#login
{
  width: 300px;
  border-radius: 22px;
  position: fixed;
  top: 20%;
  left: 40%;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}

#reg-page
{
  width: 300px;
  border-radius: 22px;
  position: fixed;
  top: 20%;
  left: 40%;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}
.reg_f_div
{
  width: 600px;
  border-radius: 22px;
  position: fixed;
  top: 10%;
  left: 30%;
  padding-left: 50px;
  background-image: linear-gradient(to bottom right,#f5883e,#FA924C);
}

#f_form_div
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

li
{
  list-style-type: none;
}